html{
	background-color: #161A30;
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
}

#about-me{
	border: solid white 3px;
	border-radius: 50%;
}

ol {
	margin-left: -40px;
	margin-top: -20px;
	list-style-position: inside;
}

*{
    text-align: center;
	color: #F0ECE5;
}

li{
    text-align: center;
	
}
#text-about-me{
	margin: 20px;
}

img{
	position: static;
	margin: 10%px;
	float: left; 
	border-radius: 20px 0 20px 0;
}

footer{
	clear: left;
}

@media (max-width: 680px) {
	/* CSS for screens below or equal to 600px wide */
	img {
		width: 70%;
		object-fit: cover;
	}

	p{
		text-align: justify;
		clear: both;
	}
}
