html{
	background-color: #FAE7C9;
	font-family: 'Roboto Condensed', sans-serif;
}


ol {
	margin-left: -40px;
	margin-top: -20px;
	list-style-position: inside;
}

*{
    text-align: center;
}

li{
    text-align: center;
}

div{
	border: 3px solid black;
}

img{
	margin: 20px;
}